recovery.img
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MIUIAICR/MIUIAICR.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/priv-app/NewCall/NewCall.apk
product/app/MiGameService_GameAI/MiGameService_GameAI.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/data-app/SmartHome/SmartHome.apk
product/data-app/MiMediaEditor/MiMediaEditor.apk
product/data-app/MIUIGallery/MIUIGallery.apk
system_ext/priv-app/Settings/Settings.apk
odm/firmware_qtvm/system.img
odm/etc/camera/sd_unet.minn
odm/etc/camera/ellc.bin
odm/etc/camera/aisn.bin
odm/lib64/libarcsoft_turbo_hdr_raw.so
odm/lib64/libarcsoft_raw_sr.so
fs_config_dirs
fs_config_files
