system_ext/priv-app/Settings/Settings.apk
product/data-app/MiMediaEditor/MiMediaEditor.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/NewCall/NewCall.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MIUIAICR/MIUIAICR.apk
odm/lib64/libarcsoft_raw_sr.so
odm/lib64/libarcsoft_turbo_hdr_raw.so
odm/etc/camera/ellc.bin
odm/etc/camera/sd_unet.minn
odm/firmware_qtvm/system.img
recovery.img
