on fs
    mkdir /mnt/vendor/persist/audio
    chown audioserver audio /mnt/vendor/persist/audio

    # neccessary add excute permission 'x' for audio dir
    chmod 775 /mnt/vendor/persist/audio

    # if spkcal file owner is root, then give audio r/w permission
    chmod 666 /mnt/vendor/persist/audio/calib_re
    chmod 666 /mnt/vendor/persist/audio/calib_re_r
    chmod 666 /mnt/vendor/persist/audio/amb_temp
    chmod 666 /mnt/vendor/persist/audio/amb_temp_r
    chmod 666 /mnt/vendor/persist/audio/ti_calr.bin